doctype html
html
  head
    title Magical Moves Dance Academy
    block style 
    block scripts  
      
  body
    nav#navbar
        ul
         div#logo 
           img(src="/static/Magicalm.png", alt="")
           li #[a(href="/") Home]
           li #[a(href="/") About Us]
           li #[a(href="/") Services]
           li #[a(href="/") Classes info]
           li #[a(href="/contact") Contact Us]
    block content
    block footer
         footer#footer
            | copyright 2023 &copy; MagicalMovesDanceAcademy.com | All Rights Reserved.